<h2>Single File Upload</h2>

<input type="file" class="file-input"
       (change)="onChange($event)" #fileUpload>

<section *ngIf="file" class="file-info">
  File details:
  <ul>
    <li>Name: {{file.name}}</li>
    <li>Type: {{file.type}}</li>
    <li>Size: {{file.size}} bytes</li>
  </ul>
</section>

<button *ngIf="file" (click)="onUpload()">Upload the file</button>

<section *ngIf="file" [ngSwitch]="status">
  <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
  <p *ngSwitchCase="'success'">✅ Done!</p>
  <p *ngSwitchCase="'fail'">❌ Error!</p>
  <p *ngSwitchDefault>😶 Pending...</p>
</section>
